body{
    background-color: var(--neutral-dark);
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 45px;
}

.nft-card{
    max-width: 346px;
    background-color:var(--neutral-medium);
    padding: 25px;
}

img {
    width: 100%;
    border-radius: 15px;
}

.title {
    font-size: 20px;
    color: #ffffff;
    margin: 25px 0 20px;
}

.about {
    color: var(--primary-soft);
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 24px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.info .price {
    color: var(--primary-medium);
    display: flex;
}

.info .price::before{
    content: '';
    background-image: url(src/CSS/images/icon-ethereum.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 11px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

.info .days-left {
    color: var(--primary-soft);
    display: flex;
}

.info .days-left::before{
    content: '';
    background-image: url(src/CSS/images/icon-clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

.creator {
    display: flex;
    align-items: center;
    border-top: 1px solid #ffffff;
    padding-top: 20px;
}

.creator .avatar {
    max-width: 35px;
    border: 1px solid white;
    border-radius: 50px;
    border-right: 15px;
    align-items: center;
}

.creator .text {
    color: var(--primary-soft);
}

.creator .name {
    color: #ffffff;

}